<h1>My First JavaScript</h1>

<script>

function myFunction() {
   window.alert("Baszassad");
};


</script>
<style type="text/css">
	.table-inverse{
		    color: #eceeef;
    background-color: #373a3c;
	}
</style>


<p id="demo">VALAMI</p>

<button type="button" onclick="myFunction()">Try it</button>


<table class="table table-inverse">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Eyecolor</th>
    </tr>
  </thead>
  <tbody>
    <tr id="firstname">
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
